
body{
   display: flex;
   align-items: center;
   justify-content: center; 
}
.container{
    height: 400px;
    width: 400px;
    border: 2px solid red;
    animation-name: first;
    animation-duration: 1ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes first{
    0%{
        background-color: brown;
    }
    50%{
        border-radius: 50%;
        background-color: chocolate;
    }
    100%{
        transform: rotate(360deg);
        background-color: blueviolet;
    }
}
.sub{
    height: 50px;
    width: 50px;
    position: relative;
    border-radius: 50%;
    animation-name: ball;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-play-state: running;
    background-color:black ;
}
@keyframes ball{
    0%{
        top: 0px;
        left: 0px;
    }
    25%{
        top: 0px;
        left: 300px;
    }
    50%{
        top: 300px;
        left: 300px;
    }
    75%{
        top: 300px;
        left: 0px;
    }
    100%{
        top: 0px;
        left: 0px;
    }
}
.sub1{
    height: 30px;
    width: 30px;
    position: relative;
    border-radius: 50%;
    animation-name: ball;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-play-state: running;
    background-color:magenta;
}
@keyframes sub1{
    0%{
        top: 0px;
        left: 0px;
    }
    25%{
        top: 0px;
        left: 100px;
    }
    50%{
        top: 100px;
        left: 100px;
    }
    75%{
        top: 100px;
        left: 0px;
    }
    100%{
        top: 0px;
        left: 0px;
    }
}