table,th,td{
    border: 2px solid black;
    border-collapse: collapse;
    height: auto;
    width: auto;
}
th{
    color: red;
    background-color: black;
}
td{
    color: orangered;
    background-color: burlywood;
}

.tr2{
    background-color: black;
}